.dorling-tooltip {
    position: absolute;
    text-align: left;
    font-family: Arial, sans-serif;
    white-space: normal;
    font-size: 0.8rem;
    border: 1px solid #515560;
    pointer-events: none;
    cursor: none;
    color: black;
    padding: 0px !important;
}
.estat-vis-tooltip-text {
    background: #ffffff;
    color: #171a22;
    padding: 4px;
    font-size: 0.875rem;
}
.estat-vis-tooltip-bar {
    background: #515560;
    color: #ffffff;
    padding: 4px;
}