.dorling-legend-compact {
    top: 35px !important;
}
.dorling-legend-container {
    font-size: 14px;
}
.dorling-size-legend-label {
    font-size: 14px;
}
.dorling-legend-container-background {
    fill: white;
}
.dorling-legend-background-rect {
    /* fill: white; */
    pointer-events: none !important;
}
/* allow mouse events to travel through legend background svg */
.dorling-legend-svg {
    pointer-events: none;
}
.dorling-legend-svg * {
    pointer-events: auto;
}
.dorling-legend-div {
    position: absolute;
    top: 0px;
    left: 0px;
}
.dorling-legend-svg {
    position: absolute;
    left: 5px;
    top: 0;
    overflow: visible;
}

.dorling-legend-subtitle {
    font-weight: 100;
    font-size: 0.7rem;
}
.dorling-legend-title {
    font-weight: bold;
    font-size: 0.8rem;
}
.dorling-color-legend-explanation {
    font-weight: bold;
    font-size: 0.8rem;
}
.dorling-size-legend {
    width: 175px;
    height: 100px;
    transform: translate(77%, 31%);
    pointer-events: none;
}

circle.dorling-swatch {
    stroke: black;
    cursor: pointer;
}
circle.dorling-swatch:hover {
    stroke-width: 3;
}
rect.dorling-swatch {
    stroke: black;
    cursor: pointer;
}
rect.dorling-swatch:hover {
    stroke-width: 3;
}
text.dorling-label {
    cursor: pointer;
    font-size: 14px;
}
