/* mobile/tablet */
@media only screen and (max-width: 700px) {
    .dorling-loader {
        top: 45% !important;
        left: 40% !important;
    }
    .dorling-leaflet-control-zoom {
        top: 45px !important;
        bottom: unset !important;
    }
    .dorling-attribution {
        display: none !important;
    }
    .dorling-legend-div {
        left: 5px !important;
        z-index: 99999;
    }
}

/* between 850 and 1000 width */
@media only screen and (max-width: 1000px) {
    .dorling-legend-container-background .dorling-legend-svg {
        height: 551px !important;
        width: 196px !important;
    }
    .legendTitle,
    .dorling-size-legend-title,
    .dorling-legend-title {
        font-size: 12px;
    }
    .overseas-caption {
        font-size: 9px;
    }
    .dorling-size-legend-label,
    .dorling-radio-button,
    text.label,
    .dorling-legend-container,
    .dorling-color-legend-explanation {
        font-size: 11px;
    }
}

/* smaller screens: width threshold at which the legend changes to toggle mode */
@media only screen and (max-width: 850px) {
    .standalone-nav {
        margin-bottom: 5px;
    }
    .dorling-insets {
        top: 5px !important;
        right: 40px !important;
    }

    .dorling-legend-div {
        top: 30px !important;
        left: 5px;
    }
    .dorling-legend-container-background .dorling-legend-svg {
        height: 545px !important;
        width: 189px !important;
    }
    .dorling-leaflet-control-zoom {
        top: 55px !important;
    }
}

/* small mobile */
@media only screen and (max-width: 450px) {
    .dorling-tooltip {
        font-size: 11px !important;
    }
    .dorling-attribution {
        display: none !important;
    }
    .dorling-bottom-text-container {
        font-size: 10px !important;
    }
    .legendTitle,
    .dorling-size-legend-title,
    .dorling-legend-title {
        font-size: 10px !important;
        font-weight: bold;
    }
    .overseas-caption {
        font-size: 9px !important;
    }
    .dorling-size-legend-label,
    .dorling-radio-button,
    text.label,
    .dorling-legend-container,
    .dorling-color-legend-explanation {
        font-size: 10px !important;
    }
}

/* smaller screens: height at which legend changes to toggle mode */
@media only screen and (max-height: 700px) {
    .dorling-insets {
        top: 5px !important;
        right: 40px !important;
    }
    .dorling-tooltip {
        font-size: 13px !important;
    }
}

/* between 1050w and 600h the copyright hides crete and malta */
@media only screen and (max-width: 1050px) and (max-height: 700px) {
    .dorling-attribution {
        bottom: 7.5% !important;
    }
}
