@media only screen and (max-height: 600px) {
    .standalone-container {
        height:95vh !important;
      }
  }
  /* mobile */
@media only screen and (max-width: 600px) {
    .standalone-container {
        margin-left:1px!important;
        margin-right:1px!important;
      }
      .standalone-dorling {
        margin-left:1px!important;
        margin-right:1px!important;
      }
      #global{
        padding-left:1px!important;
        padding-right:1px!important;
      }
      #navbar-desktop {
        padding:2px!important;
      }
}
.standalone-container {
    height:98vh !important;
    margin-left:20px;
    margin-right:20px;
  }
  .standalone-nav {
    height:6vh !important;
    width:100% !important;
  }
  .standalone-dorling {
    height:89vh !important;
    width:unset !important;
    margin-left:2px;
    margin-right:2px;
    text-align:center;
    /* overflow:hidden; */
    position:relative;
  }

  div#navItems {
      z-index:999;
  }

  #logo {
    width: 6rem
}

.logo {
    padding: 6px 1px
}

@media screen and (min-width: 48em) {
    #logo {
        width:8rem
    }

    #title {
        font-size: 1rem
    }

    #subtitle {
        font-size: 0.7rem
    }
}

@media screen and (min-width: 62em) {
    #logo {
        width:12.5rem
    }

    #title {
        font-size: 1.1rem
    }

    #subtitle {
        font-size: .8rem
    }
}

@media screen and (min-width: 75em) {
    #logo {
        width:12.5rem
    }

    #title {
        font-size: 1.2rem
    }

    #subtitle {
        font-size: 1.1rem
    }
}

#global {
    text-align: center;
    display: block;
    height: 100%
}

.social-button {
    color: #044AA3 !important;
}

.pointer {
    cursor: pointer
}

#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100
}

#header div.right img.socialmedia {
    float: left;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px
}

#header div.right img.fcb {
    border-radius: 3px
}

#codeEmbed {
    width: 800px;
    height: 80px;
    position: absolute;
    left: 130px;
    top: 110px;
    background-color: #fff;
    color: #000;
    border: 2px solid #ccc;
    padding: 10px;
    display: none;
    font-size: 12px;
    word-wrap: break-word;
    line-height: 20px;
    font-family: Courier
}

#top-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between
}

.navbar-light .navbar-nav .nav-link {
    color: #044AA3
}

.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover {
    color: #044AA3
}

.nav-link {
    padding: 0
}
nav#navbar-desktop {
    padding-left:0px!important;
}
div#global{
    padding-right:0px;
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right:.15rem;
        padding-left: .15rem
    }
}

@media screen and (max-width: 36em) {
    .navbar-collapse {
        position:absolute;
        top: 50px
    }
}
.dorling-standalone-instructions-text {
    text-align: justify;
}