.dorling-tooltip {
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  position: absolute;
  visibility: hidden;
  color: black;
  padding: 8px;
  background-color: white;
  border-radius: 6px;
  opacity: 0.8;
}
/* .dorling-tooltip:after {
  right: 100%;
  top: 35%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 10px;
  margin-top: -10px;
} */
.dorling-legend-container-background {
  width: 175px;
  height: 170px;
  fill: white;
  opacity: 0.7;
}
.dorling-legend-container {
  width: 175px;
  height: 170px;
}
.dorling-size-legend {
  width: 175px;
  height: 100px;
}
.dorling-play-button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 37px 0 37px 60px;
}
.dorling-play-button.paused {
  border-style: double;
  border-width: 0px 0 0px 60px;
}
.dorling-play-button:hover {
  border-color: transparent transparent transparent #404040;
}
.dorling-visible {
  opacity: 1;
  visibility: visible;
}
